*{  box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.App{
        background-image: url("../fondo.jpg");
        background-size: cover;

}

.header header img{
    display: block;
    width: 180px;
    border-radius: 50%;
    border: 2px gray solid;
    /* margin: auto;
    margin-top: 15px !important;
    margin-bottom: 30px !important; */
    margin: auto ;
}

.header header li{
    width: 100%;
    background-color: grey;
    margin-bottom:2px ;
    padding: 10px 0;
    text-align: center;

    
}
.header header li:last-child{
    margin-bottom: none;
}

.header header a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
li{
    list-style-type: none;
}

.header .menumobile{
    display: block;
    margin: 30px auto;
    background-color: gray;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 5px;
}
.search .busqueda{
    width: 80%;
    height: 40px;
    border-radius: 14px ;
    border: yellow 5px solid;
    margin-left: 0;
    font-size: 20px;
    font-weight: bolder;
   
}
.search .lupa{
margin: 0 !important;
width: 20%;
}
.search{
    display: flex;
}