.login{
    background-color: red;

    flex-direction: column;
    font-size: 40px;
    text-align: center;
}
.login input{
    text-align: center;
    margin: auto;
    display: block;
    width: 40%;
    height: 50px;
    font-size: 40px;
}
.login h2{
    text-align: center;
    color: yellow;
    font-size: 65px;
    
}