*{  box-sizing: border-box;
    margin: 0px;
    padding: 0;
}

.header header img{
    display: block;
    width: 180px;
    border-radius: 50%;
    border: 2px gray solid;
    /* margin: auto;
    margin-top: 15px !important;
    margin-bottom: 30px !important; */
    margin: 15px auto 30px;
}

.header header li{
    width: 100%;
    background-color: grey;
    margin-bottom:2px ;
    padding: 10px 0;
    text-align: center;

    
}
.header header li:last-child{
    margin-bottom: none;
}

.header header a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
li{
    list-style-type: none;
}

.header button{
    display: block;
    margin: 30px auto;
    background-color: gray;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 5px;
}